examples/aht20_flow.json
[
    {
        "id": "94eeaa51bebbd38e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bf26338fc3bcb9e",
        "type": "inject",
        "z": "94eeaa51bebbd38e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "361437a4dc877831"
            ]
        ]
    },
    {
        "id": "361437a4dc877831",
        "type": "Aht20",
        "z": "94eeaa51bebbd38e",
        "name": "test",
        "bus": "1",
        "topic": "aht20",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "da8b7f0f5d147214"
            ]
        ]
    },
    {
        "id": "da8b7f0f5d147214",
        "type": "debug",
        "z": "94eeaa51bebbd38e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 260,
        "wires": []
    }
]